[Desktop Entry]
Type=Application
Name=Katalog
GenericName=File Catalog Manager
Comment=Create and manage catalogs of your files and folders
Comment[fr]=Créer et gérer des catalogues de vos fichiers et dossiers
Comment[de]=Erstellen und verwalten Sie Kataloge Ihrer Dateien und Ordner
Comment[es]=Crear y gestionar catálogos de sus archivos y carpetas
Comment[it]=Crea e gestisci cataloghi dei tuoi file e cartelle
Comment[pt]=Criar e gerenciar catálogos de seus arquivos e pastas
Comment[nl]=Catalogi van uw bestanden en mappen maken en beheren
Comment[cz]=Vytvářejte a spravujte katalogy svých souborů a složek
Exec=Katalog
Icon=io.github.stephanecouturier.Katalog
Terminal=false
Categories=Utility;FileManager;Qt;
Keywords=catalog;files;folders;organization;storage;backup;archiving;
Keywords[fr]=catalogue;fichiers;dossiers;organisation;stockage;sauvegarde;
Keywords[de]=katalog;dateien;ordner;organisation;speicher;sicherung;
Keywords[es]=catálogo;archivos;carpetas;organización;almacenamiento;respaldo;
StartupNotify=true
StartupWMClass=Katalog
MimeType=application/x-katalog-catalog;
