QTabWidget            { padding: 0px; margin: 0px; background-color: #095676; }
QTabWidget::tab-bar   { left: 0px; }

QTabBar               { background:  url(:images/Katalog40.png) no-repeat right; background-color: #0D79A6; qproperty-drawBase:0; outline: none;}

QTabBar::pane         { border-bottom: 0px solid #C2C7CB;          }

QTabBar::tab          { background-color: #0D79A6 ; color: #F2F2F2; 
                        padding: 2px; padding-left: 2px; padding-right: 20px; 
                        border: 1px solid #0D79A6; margin-bottom: 4px; margin-left: 2px;
                      }

QTabBar::tab:selected { background-color: #095676; color: #FFF; margin-top: 4px; margin-left: 2px;  
                        border: 1px solid #095676; border-bottom: 0px; border-top-left-radius: 2px; border-top-right-radius: 2px; margin-bottom: 4px;}
                        
QTabBar::tab:!selected{ margin-top: 6px; }


QLabel                { color: #095676; }

QPushButton           { text-align: left; padding: 5px 4px; margin: 0px; border: 1px solid #ccc; border-radius: 5px;	padding: 5px;}
QPushButton::hover    { background: #39b2e5; color: #fff; border: 1px solid #39b2e5; 	border-radius: 5px;	padding: 5px;}
QPushButton::pressed  { background: #0D79A6; color: #fff; border: 1px solid #10a2df; 	border-radius: 5px;	padding: 5px;}

QComboBox             { padding: 0px 0px; margin: 0px; }
QComboBox             { background-color: #FFF; padding-left: 6px; }
