QTabWidget            { padding: 0px; margin: 0px; background-color: #095676; }
QTabWidget::tab-bar   { left: 0px;  }

QTabBar               { background:  url(:images/Katalog40.png) no-repeat right; background-color: #0D79A6; 
                        border-top-left-radius:   3px;
                        border-top-right-radius: 3px;
                      }
QTabBar::pane         { border-bottom: 0px solid #C2C7CB; }

QTabBar:tab:first     { margin-left:  6px; }
QTabBar::tab          { background-color: #0D79A6; color: #FFF;    
                        padding-top: 3px; padding-bottom: 6px; padding-left:  6px; padding-right: 10px;
                        margin-top: 6px; margin-bottom: 0px; 
                        border-top-left-radius:   3px;
                        border-top-right-radius: 3px;
}

QTabBar::tab::hover   { background-color: #095676; color: #FFF; }

QTabBar::tab:selected { background-color: #eff0f1; color: #000;
                        /*background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #8b1871, stop: 1 #eff0f1); */
}

QTabBar::tab:!selected{  }

QLabel                { color: #095676; }

QPushButton           { text-align: left; padding: 5px 4px; margin: 0px; border: 1px solid #ccc; border-radius: 5px;	padding: 5px;}
QPushButton::hover    { background: #39b2e5; color: #fff; border: 1px solid #39b2e5; 	border-radius: 5px;	padding: 5px;}
QPushButton::pressed  { background: #0D79A6; color: #fff; border: 1px solid #10a2df; 	border-radius: 5px;	padding: 5px;}

QComboBox             { padding: 0px 0px; margin: 0px; }
QComboBox             { background-color: #FFF; padding-left: 6px; }

/*
    //colors:
            //blue light	39b2e5              #39b2e5        45b6e5
            //blue dark		10a2df  0D79A6      #0D79A6
            //blue darker   095676              #095676
            //green light	81d41a
            //gray background #eff0f1
            //green dark	43bf0c
            //orange light	ff8000
            //orange dark	e36600
            //purple light	a1467e
            //purple dark	8b1871
*/


/*                                  
                                     transition: border 500ms ease;
                                     transition: 0.5s background ease;
                                     opacity: 0.5;
                                     border-bottom: 0px;
                                     border-top: 0px;
                                     border-left: 0px;
                                     border-top-left-radius:0px;
                                     border-top-right-radius:10px;
                                     border-bottom-left-radius:0px;
                                     border-bottom-right-radius:0px;
                                     background: url(:images/tab_splitter.png) no-repeat right;border: 1px solid #095676;
                                     
                                     
                                     .icon {
                                            position: relative;
                                            top: 55px;
                                            left: 5px;
}
                                     
                                     
                                     
                       ui->tabWidget->setAutoFillBackground(true);              
                                     
*/    

  
  
